<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<polymer-element name="num-pad" attributes="value special">
  <template>
    <LINK REL="StyleSheet" HREF="num-pad.css" TYPE="text/css" >
    <div>
      <paper-button class="butt slim" flex on-click={{select}} value=1>1</paper-button>
      <paper-button class="butt slim" flex on-click={{select}} value=2>2</paper-button>
      <paper-button class="butt slim" flex on-click={{select}} value=3>3</paper-button>

    </div>
    <div>
      <paper-button class="butt slim" flex on-click={{select}} value=4>4</paper-button>
      <paper-button class="butt slim" flex on-click={{select}} value=5>5</paper-button>
      <paper-button class="butt slim" flex on-click={{select}} value=6>6</paper-button>

    </div>
    <div>
      <paper-button class="butt slim" flex on-click={{select}} value=7>7</paper-button>
      <paper-button class="butt slim" flex on-click={{select}} value=8>8</paper-button>
      <paper-button class="butt slim" flex on-click={{select}} value=9>9</paper-button>
    </div>
    <div>
      <span class="butt"></span>
      <paper-button class="butt slim" flex on-click={{select}} value=0>{{special}}</paper-button>
      <span class="butt"></span>
    </div>
  </template>

  <script src="num-pad.js"></script>

</polymer-element>